.welcome-section {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  background-color: #f1f1f1;
  color: rgb(0, 0, 0);
  padding: 3rem 1rem;
  padding-left: 80px;
}

p {
    font-size: 22px;
}

.center{
    text-align: center;
}
