.navbar-section{
  height: 75px;
}


ul.un-list{
  margin-right: 60px;
  margin-top: 30px;
  text-align: right;
}

ul.un-list li {
  list-style: none;
  font-weight: 700;
  font-size: 20px;
  display: inline;
  margin-right: 40px;  
}

ul.un-list li a{
  color: black;
  
}

.first-section{
  
}

.footer-section{
  background-color:rgb(252, 250, 246);
  margin-top: 0px;
  height: 200px;
  position: absolute;
  width: 100%;


}

/* Keyframes for the whole application goes below here */

@keyframes fadeInX {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes fadeInY {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes fadeInRight-Left{
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
    }
}